---
---

.site-logo {
    margin-top:20px;
}


@import "minima";


.site-header {
    border-top: 0.3em solid #00aeef !important;
}
.site-footer {
    border-bottom: 0.3em solid #00aeef !important;
}

a {
    color: #009edf;
}

a:visited {
    color: #009edf;
}

body {
    font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #889999;
}

.post-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.post-content p {
    text-align: justify;
}